server {
  listen 443 ssl http2 ;
  listen [::]:443 ssl http2 ;
  server_name pablub.club;

  include ssl.conf;

  ssl_certificate /etc/letsencrypt/live/pablub.club/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/pablub.club/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/pablub.club/fullchain.pem;

  location venv {
    return 404;
  }

  location ~ \.(html|css|js|txt|ico|png|csv)$ {
    root /path/to/pablub/;
  }

  location ~ /graph/(\w+)$ {
    proxy_pass http://127.0.0.1:8888/render?target=keepLastValue(pavlov.public-servers.$1.slots)&from=-30min&hideGrid=true&hideLegend=true&hideAxes=true&bgcolor=black&fgcolor=white&width=100&height=20&margin=0;
  }

  location ~ /totalplayers(.+)$ {
    proxy_pass http://127.0.0.1:8888/render?target=keepLastValue(sumSeries(pavlov.public-servers.*.slots))&from=-30min&hideGrid=true&hideLegend=true&hideAxes=true&bgcolor=black&fgcolor=white&width=300&height=40&margin=0$2;
  }
}

server {
  listen 443 ssl http2 ;
  listen [::]:443 ssl http2 ;
  server_name stats.pablub.club;

  include ssl.conf;

  ssl_certificate /etc/letsencrypt/live/pablub.club/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/pablub.club/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/pablub.club/fullchain.pem;

  location / {
    proxy_pass http://127.0.0.1:3000;
  }
}

server {
  listen 443 ssl http2 ;
  listen [::]:443 ssl http2 ;
  server_name letmein.pablub.club;

  include ssl.conf;

  ssl_certificate /etc/letsencrypt/live/pablub.club/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/pablub.club/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/pablub.club/fullchain.pem;

  location / {
    include uwsgi_params;
    uwsgi_pass unix:/srv/pablub/uwsgi.sock;
  }

  location /websocket {
	  proxy_pass http://localhost:9101;
	  proxy_http_version 1.1;
	  proxy_set_header Upgrade $http_upgrade;
	  proxy_set_header Connection "upgrade";
	  proxy_read_timeout 86400;

  }
}
