aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
CacheControl==0.12.5
certifi==2019.3.9
chardet==3.0.4
geoip2==4.0.2
idna==2.8
idna-ssl==1.1.0
maxminddb==2.0.2
msgpack==0.6.1
multidict==4.7.6
requests==2.24.0
typing-extensions==3.7.4.3
urllib3==1.25.3
yarl==1.5.1
yattag==1.14.0
